{% macro include_head_resources(resource_summary) -%}
  {% if resource_summary.has_tweets %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}

  {% if resource_summary.youtube_videos %}
    <!-- From https://developers.google.com/youtube/player_parameters#IFrame_Player_API -->
    <script>
      // Load the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      function createPlayer(videoId, videoPlayerId) {
        new YT.Player(videoPlayerId, {
          height: '390',
          width: '640',
          videoId: videoId
        });
      }
      function onYouTubePlayerAPIReady() {
        {% for video_id, post_index, item_index in resource_summary.youtube_videos %}
          createPlayer("{{ video_id }}", "{{ video_id|youtubeplayerid(post_index, item_index) }}");
        {% endfor %}
      }
    </script>
  {% endif %}

  {% if resource_summary.has_albums %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.13/slick.css" />
  {% endif %}
{%- endmacro %}


{% macro include_body_resources(resource_summary) -%}
{%- endmacro %}

