{% from "include_resources_macro.html" import include_head_resources, include_body_resources %}

<!doctype html>
<html lang="en">
  <head>
    {% block head %}{% endblock head %}
    <title>{% block title %}{% block page_name %}{% endblock page_name %} - Sharebears{% endblock title %}</title>
    {% if resource_summary %}
      {{ include_head_resources(resource_summary) }}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" />
  </head>

  <body>
    <header class="clearfix">
      {% if g.logged_in %}
        <div id="user-options">
          <span id="username">{{ g.username }}</span>
          <nav>
            <a href="{{ url_for('logout') }}">Log out</a>
          </nav>
        </div>
      {% else %}
        <nav>
          <a href="{{ url_for('log_in_google') }}">Log in with Google</a>
        </nav>
      {% endif %}

      <h1><a href="{{ url_for('posts') }}">Sharebears</a></h1>
    </header>

    <main class="clearfix">
      <!--
      <div id="sidebar">
      </div>
      -->
      <div id="content">
        {% block content %}{% endblock content %}
      </div>
    </main>

    <!--
    <footer>
      <nav>
      </nav>
    </footer>
    -->

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.js"></script>
    {% if resource_summary %}
      {{ include_body_resources(resource_summary) }}
    {% endif %}
  </body>
</html>

