{% from "render_item_macro.html" import render_item %}

{% macro render_post(post, post_index) -%}
  <div class="post">
    <div class="byline">by <a href="{{ url_for("posts_by_user", user_id=post.creator) }}">@{{ post.creator }}</a></div>

    <div class="content">
      {% for item in post.renderable_items %}
        {{ render_item(item, post_index, loop.index0) }}
      {% endfor %}
    </div>

    {% if post.hash_tags %}
      <ul class="hash-tags">
        {% for hash_tag in post.hash_tags %}
          <li><a href="{{ url_for("posts_with_hashtag", hash_tag=hash_tag) }}">#{{ hash_tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{%- endmacro %}

