{% macro include_post_resources() -%}
  {% if post|istweet %}
    {{ include_tweet_resources() }}
  {% elif post|isyoutubevideo %}
    {{ include_youtube_video_resources() }}
  {% endif %}
{%- endmacro %}

{% macro render_post(post) -%}
  {% if post|isimage %}
    {{ render_image(post.value) }}
  {% elif post|istweet %}
    {{ render_tweet(post.value) }}
  {% elif post|isyoutubevideo %}
    {{ render_youtube_video(post.value) }}
  {% endif %}
{%- endmacro %}


{% macro render_image(image) -%}
  <img src="{{ image.url }}">
{%- endmacro %}


{% macro include_tweet_resources() -%}
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{%- endmacro %}

{% macro render_tweet(tweet) -%}
  <blockquote class="twitter-tweet" lang="en"><a href="{{ tweet.url }}"></a></blockquote>
{%- endmacro %}


{% macro include_youtube_video_resources(video_ids) -%}
  <!-- From https://developers.google.com/youtube/player_parameters#IFrame_Player_API -->
  <script>
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function createPlayer(videoId, videoPlayerId) {
      new YT.Player(videoPlayerId, {
        height: '390',
        width: '640',
        videoId: videoId
      });
    }
    function onYouTubePlayerAPIReady() {
      {% for video_id in video_ids %}
        createPlayer("{{ video_id }}", "{{ video_id|youtubeplayerid }}");
      {% endfor %}
    }
  </script>
{%- endmacro %}

{% macro render_youtube_video(video) -%}
  <div id="{{ video.video_id|youtubeplayerid }}"></div>
{%- endmacro %}

