{% macro render_item(renderable_item, post_index, item_index) -%}
  {% if renderable_item|isparagraph %}
    {{ _render_paragraph(renderable_item.item) }}
  {% elif renderable_item|isimage %}
    {{ _render_image(renderable_item.item) }} 
  {% elif renderable_item|istweet %}
    {{ _render_tweet(renderable_item.item) }}
  {% elif renderable_item|isyoutubevideo %}
    {{ _render_youtube_video(renderable_item.item, post_index, item_index) }}
  {% elif renderable_item|isalbum %}
    {{ _render_album(renderable_item.item) }}
  {% elif renderable_item|isgithubrepo %}
    {{ _render_github_repo(renderable_item.item) }}
  {% endif %}
{%- endmacro %}

{% macro _render_paragraph(paragraph) -%}
  <p>
    {% for renderable_item in paragraph.child_items %}
      {% if renderable_item|istext %}
        {{ _render_text(renderable_item.item) }}
      {% elif renderable_item|isurl %}
        {{ _render_url(renderable_item.item) }}
      {% endif %}
    {% endfor %}
  </p>
{%- endmacro %}


{% macro _render_text(text) -%}
  {{ text }}
{%- endmacro %}

{% macro _render_url(url) -%}
  <a href="{{ url }}">{{ url }}</a>
{%- endmacro %}

{% macro _render_image(image) -%}
  <a class="image" href="{{ image.url }}">
    <img src="{{ image.url }}" />
  </a>
{%- endmacro %}

{% macro _render_tweet(tweet) -%}
  <blockquote class="twitter-tweet" lang="en"><a href="{{ tweet.url }}"></a></blockquote>
{%- endmacro %}

{% macro _render_youtube_video(youtube_video, post_index, item_index) -%}
  <div id="{{ youtube_video.video_id|youtubeplayerid(post_index, item_index) }}"></div>
{%- endmacro %}

{% macro _render_album(album) -%}
  <div class="image-album">
    {% for renderable_item in album.image_items %}
      <a href="{{ renderable_item.item.url }}"><img src="{{ renderable_item.item.url }}" /></a>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro _render_github_repo(repo) -%}
  <div class="github-repo-card">
    <div class="owner">
      <img class="avatar" src="{{ repo.owner.avatar_url }}?s=95" />
      <div class="username">
        by <a href="{{ repo.owner.html_url }}">{{ repo.owner.login }}</a>
      </div>
    </div>
    <div class="repo-details">
      <div class="language">
        {{ repo.language }}
      </div>
      <div class="title">
        {{ repo.name }}
      </div>
      <div class="description">
        {{ repo.description }}
      </div>
      <div class="actions">
        <a href="{{ repo.html_url }}" class="button">View on GitHub</a>
      </div>
    </div>
  </div>
{%- endmacro %}

