/* Layout */
body {
    background-color: whitesmoke;
    font-family: 'proxima_nova_rgregular';
}
header,
main {
  width: 800px;
  margin: 0 auto;
}
.page-title {
  text-transform: uppercase;
  color: rgb(151, 174, 55);
  font-size: 2em;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
  color: rgb(151, 174, 55);
}
a:hover {
  opacity: 0.6;
}
ul, ol {
  list-style-type: none;
  padding: 0;
}

/* Header */
header .page-title {
  display: inline;
}
/* User info in header */
.user {
  float: right;
  text-align: right;
}


/* Post */
.post {
  background-color: white;
  padding: 1.25em;
  margin: 2.5em 0;
}
.post .byline,
.post .hash-tags {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}
.post .content {
  margin: 1em 0;
  font-size: 1.5em;
}
.post .content > * {
  margin: 0;
  display: block;
}
.post .content > * + * {
  margin-top: 1em;
}
.post .hash-tags li {
  display: inline;
  margin-right: 0.5em;
}

/* Image album */
.post .image-album img {
  max-width: 150px;
  height: auto;
}


/* Sign in screen */
.sign-in-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-logo,
.sign-in-google {
  display: block;
  margin: 0 auto;
  background-size: contain;
}
.page-logo {
  width: 249px;
  height: 27px;
  background-image: url('../images/ka-logo.png');
}
.sign-in-prompt .page-title {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 5px;
}
.sign-in-google {
  width: 225px;
  height: 49px;
  background-image: url('../images/sign-in-with-google.png');
}

